@import url("https://fonts.googleapis.com/css2?family=Tillana:wght@500&display=swap");
  @import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@1&display=swap');
body {
  text-align: center;
  color: whitesmoke;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url("./assets/portfolio_big_item_03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-position: 45%  top;
  background-attachment: fixed;
  font-size: 13pt;
}
#nav-brand{
  font-family: 'Fondamento', cursive;

}

#advice {
  font-family: "Tillana", cursive;
  color: white;
  font-size: 13pt;
}

.main{
  position: absolute;
  display: grid;
  inset: 3em 0 0 0 ;
  place-content: center;
  z-index: -1;
}
#advice-div {
  text-align: center;
  width: clamp(270px, 10vw, 500px);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
 box-shadow: 2px 2px 3px 1px black;
  padding: 0.34rem;

 /* backdrop-filter: blur(1px);*/
}

#advice-btn {
  padding:.2rem .4rem .2rem .4rem;
  background: hsl(215, 16.3%, 46.9%);
  border-radius: 15px;
  color: whitesmoke;
  border: none;
}

#advice-btn:active {
  animation: ad-btn 0.3s ease 1;
}

@keyframes ad-btn {
  50% {
    transform: rotate(5deg) rotate(15deg);
  }
  70% {
    transform: rotate(0deg) rotate(-10deg);
  }
}

.contact-main > div, .li{
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  padding: 1em;
  margin: 0 1em 0 1em;
  box-shadow: 2px 2px 3px 1px black;
/*  backdrop-filter: blur(1px);*/
}

.contact-main{
  display:grid;
  justify-content: center;
}
.contact-main > div{
  margin-bottom: 0.45rem;
}
.contact-ico{
  font-size: 2.55em;
}
.contact{
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.2em;
}

.contact-main > div i{
  margin-right: .23em;
}

@media screen and (min-width: 496px) {
  #advice-div {
    max-width: 300px;
  }
}

@media screen and (min-width: 570px) {
  #advice-div {
    min-width: 300px;
  }
}
@media screen and (min-width: 780px) {
  #advice-div {
    min-width: 500px;
  }
}

@media screen and (orientation: landscape) {
  #advice-div {
    min-width: clamp(500px, 10vw, 600px);
    min-height: clamp(100px, 10vh, 120px);
  }
}
